@charset "ISO-8859-1";


/* CSS de Texte */

h1, h3 {
	text-align: center;
	text-decoration: underline;
}

h1 {
	font-size: xx-large;
}

/* CSS du menu */

nav {
	background-color: Gray;
	text-align: center;
	height: 100%;
}

nav ul {
	list-style: none;
}

nav li {
	width: 150px;
}

nav img {
	height: 50px;
}


/* CSS des Pages */


/* CSS de Formulaires */
