@charset "ISO-8859-1";

@font-face{
	font-family: 'sh_pinscherregular';    
	src: url('../font/shpinscher-regular-webfont.woff2') format('woff2'),         
	url('../font/shpinscher-regular-webfont.woff') format('woff');    
	font-weight: normal;    
	font-style: normal;


}
/* CSS de Texte */

h1, h3 {
	text-align: center;
	text-decoration: underline;
}

h1 {
	font-size: xx-large;
}

/* CSS du menu */

nav {
	height: 1000px;
	background-color: #837f7f;
	text-align: center;
}
	.nav_icons{
		display: flex;
		flex-direction: column;
		margin: 0 0 35px 50px;
	}
	.nav_icons:first-child{
		margin-top: 50px;
	}
	.nav_icons:last-child{
		margin-bottom: 0;
	}

	.nav_icons:hover,
	.nav_icons.active{
		display: flex;
		flex-direction: column;
		background: #c9c186;
		border-radius: 5px;
		margin-bottom: 35px;
	}
		.nav-icon-label{
					display : block;
				}


nav ul {
	display: flex;
	flex-direction: column;
	align-content: center;
	position: fixed;
	list-style: none;
}

nav li {
	width: 150px;
}

nav img {
	height: 50px;
}
button {
	display: block;
	height: 70px;
	width: 150px;
	font-size: 10px;!importan
	text-align: justify;
}
/* CSS de Texte */

h1 {
	text-align: center;
	text-decoration: underline;
	font-size: xx-large;
	
}

b, a, p {
	text-align: center;
}"XFinal/vue/index.css"


/* CSS des Pages */
.accueil, section {
	background-color: LightGray;
}

section {
	width : 800px;
	float: left;
	margin-left: 120px;
}

.accueil {
	width: 80%;

}

.accueil ul {
	list-style: none;
	padding: 0px;
	margin-top: 10px;
	text-align: center;
}

.accueil li {
	display: inline-block;
	margin: 50px;
}

.accueil img {
	width: 50px;
}

/* CSS de Formulaires */

form {
	margin: auto;
}

table {
	width: 70%;
	border-collapse: collapse;
	margin: auto;
}

.headerPersonne{
	position:fixed;
}

tr {

}

th {
	background-color: Gray;
	padding: 10px;
	padding-top: 2px;
	padding-bottom : 2px;
}

td {
	text-align: center;
	padding: 5px;
}

td p, input[type=text] {
	text-align: left;
}


input[type=text] {
	width: 100%;
	
}

button {
	width : auto;
	lenght : auto;
}

/* Adhérent*/

.formulaireAdherent_container{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
	.formulaireAdherent_stiker{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 50px;
		float : left; 
		width: 300px;
		height: 280px;
		background-image: url("../images/yellow-sticky.png");
	}
	.formulaireAdherent_form-container{
		display: flex;
		flex-direction: row-reverse;

	}
		.formulaireAdherent_form-bouton{
			display: flex;
			flex-direction: column;
			margin-left: 100px;
		}
		.formulaireAdherent_form-label{
			width: 400px;
		}
		
#bouton {

	float: right;
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 300px;

}

#info{
	position: fixed;
	width: 300px;
	height: 280px;
	background-image: url("../images/yellow-sticky.png");
	float : left; 
	display: flex;
	flex-direction: column;
	align-items: center;
		
}
#rules{
	
	display: flex;
	position: fixed;
	top: 180px;
	left: 325px;
	flex-direction: column;
}

#click {
	margin: 5px;
}

#adh{
	position: absolute;
	left: 250px;
	width: 500px;
	


}
