@charset "ISO-8859-1";


body{
	font-family: 'althea', 'sugar_spice','Lucida Console';
}

#navigation{
	
	
	position : static;
	position: fixed;
	top : 0;
	background-color: #ff8040;
	border : 3px black double;
	border-radius : 10px;
	height: 700px;
	width : 150px;
}

.li:hover{
	background-color: yellow;
	color:yellow;
}

.infoLudo{
	text-align:center;
	position: fixed;
	top : 0;
	left : 170px;
	border : 3px black double;
	border-radius : 10px;
	height: 700px;
	width : 1300px;
	background-image: url("../images/logo_ludo.jpg");
}

.fenetreInfo{

	position: absolute;
	top : 80px;
	left : 50px;
	background-color: #ffffff;
	border : 3px black double;
	height: 580px;
	width : 1000px;
	overflow: scroll;
}

thead{
	height : 50px;
	overflow: scroll
}

tbody{

	overflow-y: scroll;
	}

.colonne :hover{
	background-color :red;
}

.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.fenetreFormulaire{
	
	position: absolute;
	top : 80px;
	left : 50px;
	background-color: #ffffff;
	border : 3px black double;
	height: 580px;
	width : 700px;
}

.gestionBouton{
	text-align : center;
	height: 300px;
	width : 150px;
	position: absolute;
	top : 120px;
	left: 1300px;
}

.gestionBouton :hover{
	background-color :red;
}
