@charset "ISO-8859-1";

body{
	font-family: 'althea', 'sugar_spice','Lucida Console';
}

#navigation{
	
	
	position : static;
	position: fixed;
	top : 0;
	background-color: #ff8040;
	border : 3px black double;
	border-radius : 10px;
	height: 700px;
	width : 150px;
}

.li:hover{
	background-color: yellow;
	color:yellow;
}

.infoLudo{
	text-align:center;
	position: fixed;
	top : 0;
	left : 170px;
	border : 3px black double;
	border-radius : 10px;
	height: 700px;
	width : 1300px;
	background-image: url("../images/logo_ludo.jpg");
}

.fenetreInfo{

	position: absolute;
	top : 80px;
	left : 50px;
	background-color: #ffffff;
	border : 3px black double;
	height: 580px;
	width : 700px;
}

.fenetreFormulaire{
	
	position: absolute;
	top : 80px;
	left : 50px;
	background-color: #ffffff;
	border : 3px black double;
	height: 580px;
	width : 700px;
}

.gestionBouton{
	text-align : center;
	height: 300px;
	width : 150px;
	position: absolute;
	top : 120px;
	left: 1300px;
}

.gestionBouton :hover{
	background-color :red;
}
